.main {

  width: 90%;
  margin-top: 10%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
  text-align: center;
  
}

.jobsResearch-background {

  text-align: center;
  padding: 10%;
  background-image: url('../../assets/img//bureau.jpg');
  background-size: cover;
  background-repeat: no-repeat; 

}

.home-background {

  padding: 15%;
  background-color: transparent;
  background: linear-gradient(to right, #a7a7af , #373741);
  background-position: 0% 70%;

}

.skills-background {

  padding: 5%;
  padding-top: 8em;
  padding-bottom: 10em;
  background-color: transparent;
  background: linear-gradient(to top, #a7a7af  , #373741);
  background-position: 20% 0%;

}

.book-background {

  padding: 10%;
  background-color: transparent;
  background: linear-gradient(to right, #a7a7af , #e1d8cf);
  background-position: 0% 70%;
  padding-bottom: 7em;

}

.school-background {

  padding: 5%;
  background-color: transparent;
  background: linear-gradient(to left, #ffff , #e1d8cf);
  background-position: 0% 70%;

}
