.main {
  width: 90%;
  margin-top: 10%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
  text-align: center;
  
}

.background-image {

  text-align: center;
  padding: 15%;
  background-image: url('../../assets/img//bureau.jpg');
  background-size: cover;
  background-repeat: no-repeat; 

}
